NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISH_KEY=
SUPABASE_SECRET_KEY=
SYNC_ADMIN_SECRET=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_COUNTRY=au
ADZUNA_RESULTS_PER_PAGE=50
NEXT_PUBLIC_ENABLE_SYNC_PANEL=false

